<div class="about-us-page">
    <div class="about-us">
      <h1>About Us</h1>
      <div class="content-container">
        <div class="right-content">
          <p>Welcome to Hacker Grow!</p>
          <p>My name is Juan Loaiza, and I’m a student at the University of Antioquia with a deep passion for cybersecurity and ethical hacking. Hacker Grow is born out of my desire to create a platform that not only educates but also challenges individuals to improve their skills in the dynamic world of cybersecurity.</p>
        </div>
        <div class="left-content">
          <p>As someone who has been captivated by the complexities of hacking and digital security, I wanted to share my knowledge and help others who are eager to learn. At Hacker Grow, we believe in learning by doing, which is why our platform is designed around hands-on challenges that simulate real-world scenarios. Whether you’re just starting out or looking to enhance your skills, Hacker Grow offers a space for everyone to grow, learn, and conquer new challenges.</p>
          <p>Our mission is to build a community of like-minded individuals passionate about ethical hacking and cybersecurity. We aim to provide resources, training, and a path to mastery through practical experience. With a focus on practical learning, you’ll find carefully crafted challenges that range from beginner to advanced, designed to boost your skills and confidence in a controlled, legal environment.</p>
          <p>Join us on this journey to grow your knowledge, hone your skills, and contribute to a safer digital world.</p>
          <p>Let’s hack, learn, and grow together!</p>
        </div>
      </div>
    </div>
  </div>