<div class="login-page">
    <div class="login-container">
      <div class="logo">
        <img src="images/hacker-grow-logo.png" alt="Hacker Grow Logo">
      </div>
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="correo">Email:</label>
          <input type="correo" id="correo" formControlName="correo" required>
          <div *ngIf="loginForm.controls['correo'].invalid && loginForm.controls['correo'].touched">
            <small class="error">Email is required and should be valid.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="contrasena">Password:</label>
          <input type="contrasena" id="contrasena" formControlName="contrasena" required>
          <div *ngIf="loginForm.controls['contrasena'].invalid && loginForm.controls['contrasena'].touched">
            <small class="error">Password is required.</small>
          </div>
        </div>
        <button type="submit">Log In</button>
      </form>
      <p class="redirect-text">
        Don't have an account? <a routerLink="/signin">Sig In</a>
      </p>
    </div>
  </div>