.challenges-list-container {
    padding: 20px;
    text-align: center; /* Centrar el título */
  }
  
  .challenges-list-container h2 {
    text-align: center; /* Asegurar que el título esté centrado */
    margin-bottom: 20px;
  }
  
  .challenge {
    background-color: #ff5722; /* Color naranja */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centrar las tarjetas */
    width: 80%; /* Ocupa el 80% del ancho de la página */
    transition: transform 0.3s; /* Efecto de transición para el zoom */
  }
  
  .challenge:hover {
    transform: scale(1.05); /* Efecto de zoom */
  }
  
  .challenge h3 {
    margin-top: 0;
    color: #fff; /* Color del texto */
  }
  
  .challenge p {
    margin-bottom: 0;
    color: #fff; /* Color del texto */
  }