.challenges-list-container {
    padding: 20px;
  }
  
  .challenge {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .challenge h3 {
    margin-top: 0;
  }
  
  .challenge p {
    margin-bottom: 0;
  }