<div class="header">
  <div class="logo">
    <!-- Espacio para el logo -->
    <img src="assets/logo.png" alt="Logo">
  </div>
  <div class="auth-buttons">
    <button>Sign In</button>
    <button>Log In</button>
  </div>
</div>

<div class="home-container">
  <h1>Bienvenido a My Angular App</h1>
  <p>Esta es la página de inicio.</p>
</div>

<div class="footer">
  <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
  <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
  <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="https://github.com/juanselm?tab=repositories" target="_blank"><i class="fa-brands fa-github"></i></a>
</div>
