<div class="dashboard-container">
  <div class="sidebar">
    <div class="profile">
      <div class="avatar"></div>
      <h2>{{ userName$ | async }}</h2>
      <div *ngIf="progreso.length > 0">
        
        <div class="progress-container">
          <h3>Progress</h3>
          <div *ngFor="let item of progreso">
            <p>{{ item.reto.nombreReto }}: {{ item.estadoReto }}</p>
            <div class="progress-bar">
              <div class="progress" [style.width]="getProgressWidth(item.estadoReto)"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="card">
      <h3>Cryptography</h3>
      <p>Learn the art of cryptography, including encryption and decryption techniques, to secure data and communications.</p>
      <button class="challenge-button" [routerLink]="['/challenges', 'cryptography']">Go to Challenge</button>
    </div>
    <div class="card">
      <h3>Secure Practices</h3>
      <p>Understand and implement best practices for securing systems and applications, ensuring robust protection against threats.</p>
      <button class="challenge-button" [routerLink]="['/challenges', 'securepractices']">Go to Challenge</button>
    </div>
    <div class="card">
      <h3>Pentesting</h3>
      <p>Engage in penetration testing to identify vulnerabilities in systems and networks, and learn how to mitigate them effectively.</p>
      <button class="challenge-button" [routerLink]="['/challenges', 'pentesting']">Go to Challenge</button>
    </div>
  </div>
</div>