<div class="home-container">
    <div class="hero-section">
        <h1>Welcome to Hacker Grow</h1>
        <p>Your platform for ethical hacking training</p>
        <button class="cta-button" routerLink="/signin">Get Started Now</button>
    </div>
    <div class="info-section">
        <h2>Empowering the Next Generation of Cybersecurity Professionals</h2>
        <p>At Hacker Grow, we specialize in equipping professionals with the skills and knowledge needed to excel in the dynamic world of ethical hacking. Whether you're starting your journey or seeking to refine your expertise, our platform provides cutting-edge training, hands-on challenges, and a vibrant learning community.</p>
    </div>
    <div class="features-section">
        <h2>Explore Our Offerings</h2>
        <div class="content">
            <div>
                <h3>Ethical Hacking</h3>
                <p>Dive deep into penetration testing and security assessments. Learn how to identify vulnerabilities and secure systems against potential threats through comprehensive, real-world scenarios.</p>
            </div>
            <div>
                <h3>Secure Configurations</h3>
                <p>Gain expertise in system hardening and implementing industry-best security practices. Build robust, resilient systems by mastering the art of secure configuration.</p>
            </div>
            <div>
                <h3>CTF Challenges</h3>
                <p>Put your skills to the test with Capture the Flag (CTF) challenges. These real-world scenarios are designed to enhance your problem-solving abilities and simulate authentic cybersecurity threats.</p>
            </div>
        </div>
    </div>
    <div class="contact-section">
        <h2>Why Choose Hacker Grow?</h2>
        <div class="content">
            <div>
                <h3>Expert-Led Training</h3>
                <p>Learn from top professionals in the cybersecurity industry.</p>
            </div>
            <div>
                <h3>Practical Learning</h3>
                <p>Our hands-on approach ensures you're ready for real-world challenges.</p>
            </div>
            <div>
                <h3>Community Support</h3>
                <p>Join a global network of ethical hackers and cybersecurity enthusiasts.</p>
            </div>
        </div>
    </div>
    <div class="contact-section">
        <div class="social-icons">
            <a href="https://facebook.com" target="_blank"><i class="fi fi-brands-facebook"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fi fi-brands-twitter"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fi fi-brands-instagram"></i></a>
            <a href="https://github.com/juanselm?tab=repositories" target="_blank"><i class="fi fi-brands-github"></i></a>
        </div>
    </div>
</div>