<div class="challenge-detail-container" *ngIf="challenge">
  <h2>{{ challenge.nombreReto }}</h2>
  <ul>
    <li><strong>Description:</strong> {{ challenge.descripcion }}</li>
    <li><strong>Difficulty:</strong> {{ challenge.nivelDificultad }}</li>
    <li><strong>Resource:</strong> <a [href]="challenge.urlRecurso" target="_blank"> {{ challenge.urlRecurso }}</a></li>
  </ul>
  <div class="challenge-text">
    <p>This is your challenge:</p>
    <input type="text" [value]="encryptedHash" readonly class="encrypted-hash">
  </div>
  <form [formGroup]="solutionForm" (ngSubmit)="onSubmit()">
    <label for="solution">Enter your solution:</label>
    <input id="solution" formControlName="solution" type="text" class="solution-input">
    <button type="submit">Validate Solution</button>
  </form>
  <p *ngIf="progreso?.estadoReto === 'completado'" class="completed">This challenge is completed</p>
</div>